body {
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    background-color:#ccc;
}

#stage {
    width: 600px;
    height: 400px;
    background-color:#fff;
}

/*
---------------
*/

div.log {
    position:fixed;
    right:0;
    top:0;
    width: 300px;
    height: 100%;
    overflow: auto;
    background: rgba(255,255,255,.93);
    z-index:10;

    -moz-box-shadow: 0px 5px 5px #ccc;
    -webkit-box-shadow: 0px 5px 5px #ccc;
    box-shadow: 0px 5px 5px #ccc;
}

p.log {
    font: 14px/18px Helvetica, sans-serif;
}
